<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Atlas&Amy-Apache</title>
<meta name="description" content="专注互联网服务端&前端开发，记录技术成长轨迹">
<meta name="keywords" content="Java, 服务端开发, 前端开发">

</head>
<body>
    <div class="doc">
    	<div class="header">
	    	<div class="top container">
		    	<span class="title">Atlas<i class="fa fa-heart"></i>Amy</span>
				<div class="searchBox">
					<input type="text" class="input g-input" name="text" placeholder="what do you need" autocomplete="off">
					<i class="go-search fa fa-search"></i>
				</div>
			</div>
			<ul class="menu container">
    			<li class="cur"><a href="#">首页</a></li>
    			<li><a href="#">服务端</a></li>
    			<li><a href="#">web前端</a></li>
    			<li><a href="#">资源工具</a></li>
    			<li><a href="#">读者评论</a></li>
    			<li><a href="#">关于</a></li>
    		</ul>
	    </div>
	    <div class="mod-detail container">
	    	<div class="bread">首页 &gt; 服务端 &gt; 服务端架构</div>
	    	<div class="next">
	    		<a class="before" href="#"><span class="fa fa-hand-o-up"></span>上一篇：这是这篇文章的上一篇文章</a>
	    		<a class="after" href="#"><span class="fa fa-hand-o-down"></span>下一篇：这是这篇文章的下一篇文章</a>
	    	</div>
	    	<div class="main">
	    		<div class="title">
	    			这是文章的标题，应该在二十五字以内
	    			<span class="info">(作者：张晓龙atlas)</span>
	    		</div>
	    		<div class="main-content">
	    			<p>模拟段落的文字 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatum minima ipsa, explicabo animi qui aperiam nihil, reiciendis laboriosam ipsum consectetur libero temporibus aspernatur iusto cupiditate provident? Placeat possimus, deserunt!</p>
	    			<p><img src="/img/1113.jpg" alt="这是一张测试的图片"/></p>
	    			<blockquote>
	    				<p>这里放的是引用的一些文字或者代码</p>
	    				<p>这里放的是引用的一些文字或者代码</p>
	    				<p>这里放的是引用的一些文字或者代码</p>
	    				<p>这里放的是引用的一些文字或者代码</p>
	    				<p>var a = b;</p>
	    				<p>var a = b;</p>
	    				<p>if (a > 0 ) {</p>
	    				<p>console.log('greaten than');</p>
	    				<p>}</p>
	    			</blockquote>
	    		</div>
	    	</div>
	    	<div class="comments">
	    		<!--读者评论 begin-->
    			<span class="title">读者评论</span>
    			（<span class="num">100</span>）
    			<ul class="comment-wrap">
	    			<li>
	    				<div class="nick"><span class="name">小张</span> 说：</div>
	    				<div class="comment">我这边有些话不知当讲不当讲如果是一些很长很长的话，我这边有些话不知当讲不当讲如果是一些很长很长的话，我这边有些话不知当讲不当讲如果是一些很长很长的话，我这边有些话不知当讲不当讲如果是一些很长很长的话</div>
	    			</li>
	    			<li>
	    				<div class="nick"><span class="name">小张</span> 说：</div>
	    				<div class="comment">我这边有些话不知当讲不当讲</div>
	    			</li>
	    			<li>
	    				<div class="nick">小王 留言：</div>
	    				<div class="comment">我这边有些话不知当讲不当讲</div>
	    			</li>
	    			<li>
	    				<div class="nick">王五 留言：</div>
	    				<div class="comment">我这边有些话不知当讲不当讲</div>
	    			</li>
	    			<li>
	    				<div class="nick">赵六 留言：</div>
	    				<div class="comment">我这边有些话不知当讲不当讲</div>
	    			</li>
    			</ul>
    			<div class="getmore">查看更多</div>
    			<!--读者评论 end-->
    			<!--添加评论 begin-->
    			<span class="title">我想评论</span>
    			<form class="addComment">
    				<div class="form-row">
    					<label for="" class="label">用户名：</label>
    					<span class="form-input">
    						<input type="text" class="g-input">
    					</span>
    				</div>
    				<div class="form-row">
    					<label for="" class="label">用户名：</label>
    					<span class="form-input">
    						<input type="text" class="g-input">
    					</span>
    				</div>
    				<div class="form-row">
    					<label for="" class="label">用户名：</label>
    					<span class="form-input">
    						<input type="text" class="g-input">
    					</span>
    				</div>
    				<div class="form-row">
    					<label for="" class="label"></label>
    					<span class="g-btn">点我提交</span>
    				</div>
    			</form>
    			<!--添加评论 end-->
	    	</div>
	    </div>
	    <div class="footer">
	    	<div class="container">
		    	<span class="txt">版权所有® 2014-2016 时间记忆 | 蒙ICP备15000400号-1</span>
	    	</div>
	    </div>
    </div>
    <script type="text/javascript" src="../dist/article_detail.js"></script>
</body>
</html>