<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>时间记忆</title>
<meta name="description" content="关注程序算法、搜索引擎、云计算等技术，致力于互联网产品系统架构、运维以及分布式计算等相关内容">
<meta name="keywords" content="时间记忆,移动互联网,互联网产品,系统架构,程序算法,Java,搜索引擎,云计算,分布式数据存储,分布式计算,hadoop,软件开发,运维">
</head>
<body>
	<div class="doc">
	    <div class="header">
	    	<div class="con">
		    	<span class="title">时间记忆</span>
				<div class="searchBox">
					<input type="text" class="text g-input" name="text">
					<button class="search g-btn">search</button>
				</div>
			</div>
	    </div>
	    <div class="content">
	    	<div class="menu">
	    		<ul>
	    			<li><a href="#">首页</a></li>
	    			<li><a href="#">web前端开发</a></li>
	    			<li><a href="#">服务端开发</a></li>
	    			<li><a href="#">资源工作</a></li>
	    			<li><a href="#">关于</a></li>
	    		</ul>
	    	</div>
	    	<div class="m-index">
		    	<div class="main"></div>
		    	<div class="aside"></div>	    		
	    	</div>
	    </div>
	    <div class="footer">
	    	<div class="con">
		    	<span class="txt">版权所有® 2014-2016 时间记忆 | 蒙ICP备15000400号-1</span>
	    	</div>
	    </div>
	</div>
    <script type="text/javascript" src="../src/scripts/release/bundle.js"></script>
</body>
</html>