<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Atlas&Amy</title>
<meta name="description" content="关注程序算法、搜索引擎、云计算等技术，致力于互联网产品系统架构、运维以及分布式计算等相关内容">
<meta name="keywords" content="时间记忆,移动互联网,互联网产品,系统架构,程序算法,Java,搜索引擎,云计算,分布式数据存储,分布式计算,hadoop,软件开发,运维">
</head>
<body>
	<div class="doc">
	    <div class="header">
	    	<div class="top container">
		    	<span class="title">Atlas<i class="fa fa-heart"></i>Amy</span>
				<div class="searchBox">
					<input type="text" class="input g-input" name="text" placeholder="what do you need" autocomplete="off">
					<i class="go-search fa fa-search"></i>
				</div>
			</div>
			<ul class="menu container">
    			<li class="cur"><a href="#">首页</a></li>
    			<li><a href="#">服务端</a></li>
    			<li><a href="#">web前端</a></li>
    			<li><a href="#">资源工具</a></li>
    			<li><a href="#">读者评论</a></li>
    			<li><a href="#">关于</a></li>
    		</ul>
	    </div>
	    <div class="container mod-index">
			<div class="nav">
				<a href="#"><i class="fa fa-book"></i>查看更多文章</a>
				<span><i class="fa fa-chevron-down"></i>文章分类</span>
				<div class="nav-main">
					<span class="arrow"></span>
					<span class="arrow hover-arrow"></span>
					<div class="nav-item">
						<span class="nav-title">web前端</span>
						<ul>
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">Javascript</a></li>
							<li><a href="#">Tools</a></li>
						</ul>
					</div>
					<div class="nav-item">
						<span class="nav-title">服务端</span>
						<ul>
							<li><a href="#">Java</a></li>
							<li><a href="#">LeetCode</a></li>
							<li><a href="#">Linux</a></li>
							<li><a href="#">Python</a></li>
							<li><a href="#">分布式系统</a></li>
							<li><a href="#">推荐系统</a></li>
							<li><a href="#">搜索</a></li>
							<li><a href="#">网站架构</a></li>
							<li><a href="#">踩坑</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main">
			  	<div class="main-new">
					<div class="title"><i class="fa fa-bell-o"></i>最新文章</div>
					<div class="main-item">
						<div class="artical-title">
							<a href="#">理解Apache默认的评分机制</a>
							<span class="artical-cat">分类：服务端架构</span>
						</div>
						<div class="artical-info">
							<i class="fa fa-user"></i>Atlas　2016年4月20日 12:00 |
							<span class="ainfo-box info-view">浏览(300)</span>
							<span class="ainfo-box info-comment"><i class="fa fa-comment-o"></i>(10)</span>
							<span class="ainfo-box info-share"><i class="fa fa-share-square"></i>分享</span>
						</div>
						<div class="artical-txt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi minus ratione dolor odit suscipit ipsa sunt dicta. Quibusdam totam cumque dolore officia beatae animi ipsum necessitatibus magni natus sed.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus eveniet ipsum obcaecati. Ea provident ducimus assumenda illo quod impedit, deleniti. Porro incidunt, nostrum! Distinctio ex nobis, numquam nostrum voluptatibus.
						Facilis, recusandae quis non, suscipit harum vero adipisci veniam cupiditate numquam expedita quae minima. Adipisci, quasi, labore? Quia temporibus, ipsum libero, nihil pariatur blanditiis iure excepturi amet itaque eaque quae.
						</div>
						<a class="artical-link fa fa-angle-double-right" href="#">继续阅读全文<i class="fa fa-ellipsis-h"></i></a>
					</div>
					<div class="main-item">
						<div class="artical-title">
							<a href="#">理解Apache默认的评分机制</a>
							<span class="artical-cat">分类：JAVA</span>
						</div>
						<div class="artical-info">
							<i class="fa fa-user"></i>Atlas　2016年4月20日 12:00 | 
							<span class="ainfo-box info-view">浏览(10)</span>
							<span class="ainfo-box info-comment">暂无评论</span>
							<span class="ainfo-box info-share"><i class="fa fa-share-square"></i>分享</span>
						</div>
						<div class="artical-txt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi minus ratione dolor odit suscipit ipsa sunt dicta. Quibusdam totam cumque dolore officia beatae animi ipsum necessitatibus magni natus sed.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus eveniet ipsum obcaecati. Ea provident ducimus assumenda illo quod impedit, deleniti. Porro incidunt, nostrum! Distinctio ex nobis, numquam nostrum voluptatibus.
						Facilis, recusandae quis non, suscipit harum vero adipisci veniam cupiditate numquam expedita quae minima. Adipisci, quasi, labore? Quia temporibus, ipsum libero, nihil pariatur blanditiis iure excepturi amet itaque eaque quae.
						</div>
						<a class="artical-link fa fa-angle-double-right" href="#">继续阅读全文<i class="fa fa-ellipsis-h"></i></a>
					</div>
				</div>
				<div class="main-hot">
					<div class="title"><i class="fa fa-bell"></i>最热文章</div>
					<div class="main-item">
						<div class="artical-title">
							<a href="#">理解Apache默认的评分机制</a>
							<span class="artical-cat">分类：服务端架构</span>
						</div>
						<div class="artical-info">
							<i class="fa fa-edit"></i>author: Atlas on 2016.4.20 12:00 | 
							<span class="ainfo-box info-view">浏览(300)</span>
							<span class="ainfo-box info-comment"><i class="fa fa-comment-o"></i>(10)</span>
							<span class="ainfo-box info-share"><i class="fa fa-share-square"></i>分享</span>
						</div>
						<div class="artical-txt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi minus ratione dolor odit suscipit ipsa sunt dicta. Quibusdam totam cumque dolore officia beatae animi ipsum necessitatibus magni natus sed.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus eveniet ipsum obcaecati. Ea provident ducimus assumenda illo quod impedit, deleniti. Porro incidunt, nostrum! Distinctio ex nobis, numquam nostrum voluptatibus.
						Facilis, recusandae quis non, suscipit harum vero adipisci veniam cupiditate numquam expedita quae minima. Adipisci, quasi, labore? Quia temporibus, ipsum libero, nihil pariatur blanditiis iure excepturi amet itaque eaque quae.
						</div>
						<a class="artical-link fa fa-angle-double-right" href="#">继续阅读全文<i class="fa fa-ellipsis-h"></i></a>
					</div>
					<div class="main-item">
						<div class="artical-title">
							<a href="#">理解Apache默认的评分机制</a>
							<span class="artical-cat">分类：服务端架构</span>
						</div>
						<div class="artical-info">
							<i class="fa fa-edit"></i>author: Atlas on 2016.4.20 12:00 | 
							<span class="ainfo-box info-view">浏览(300)</span>
							<span class="ainfo-box info-comment"><i class="fa fa-comment-o"></i>(10)</span>
							<span class="ainfo-box info-share"><i class="fa fa-share-square"></i>分享</span>
						</div>
						<div class="artical-txt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi minus ratione dolor odit suscipit ipsa sunt dicta. Quibusdam totam cumque dolore officia beatae animi ipsum necessitatibus magni natus sed.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus eveniet ipsum obcaecati. Ea provident ducimus assumenda illo quod impedit, deleniti. Porro incidunt, nostrum! Distinctio ex nobis, numquam nostrum voluptatibus.
						Facilis, recusandae quis non, suscipit harum vero adipisci veniam cupiditate numquam expedita quae minima. Adipisci, quasi, labore? Quia temporibus, ipsum libero, nihil pariatur blanditiis iure excepturi amet itaque eaque quae.
						</div>
						<a class="artical-link fa fa-angle-double-right" href="#">继续阅读全文<i class="fa fa-ellipsis-h"></i></a>
					</div>
				</div>
			</div>	    		
	    </div>
	    <div class="footer">
	    	<div class="container">
		    	<span class="txt">版权所有® 2014-2016 时间记忆 | 蒙ICP备15000400号-1</span>
	    	</div>
	    </div>
	</div>
    <script type="text/javascript" src="../dist/index.js"></script>
</body>
</html>