
body,p,ul,li,dt,dd,h1,h2,h3,h4,h5,h6,blockquote{
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}

ul,li,dd{
    list-style:none;
}

img{
    border:none;
    outline:none;
}

a{
    text-decoration:none;
    color: inherit;
    &:hover{
        text-decoration:underline;
    }
}

input, textarea, button, select{
    font-size:1em;
    font-family: inherit;
}

::-webkit-input-placeholder {
    color: $GRAY;
}

:-moz-placeholder {
    color: $GRAY;
}

::-moz-placeholder {
    color: $GRAY;
}

input:-ms-input-placeholder {
    color: $GRAY;
}