$BODY_BG_COLOR: #F6F8F8; //页面背景色
$LAYOUT_WIDTH: 1000px; //页面主体内容宽度
$TEXTCOLOR: #393d40; //页面颜色
$TEXTCOLOR_HIGH: #21ABC7; //较强字体颜色 
$GREEN: #3BB715; //绿色，成功、通过


$BORDERCOLOR: #e3e3e3; //边框颜色
$BLUE: #2279D3; //蓝色
$RED: #F4615C; //红色，错误、警告
$GRAY: #a9a9a9; //灰色
$WHITE: #fff; //白色
$ORANGE: #F18F25; //橙色
$TEXTCOLOR_NORMAL: #333333; //正常字体颜色
$TEXTCOLOR_WEAK: #7a8882; //弱文字颜色
$TEXTCOLOR_WEAK_MORE: #adb5b2; //更弱文字颜色
$TEXTCOLOR_BIGTITLE: #383c3b; //大标题文字颜色
$CELL_HEIGHT: 4px; //栅格系统单元格高度
$CELL_WIDTH: 6px; //栅格系统单元格宽度
$LINE_HEIGHT_S: 20px;
$LINE_HEIGHT_M: 24px;
$LINE_HEIGHT_L: 28px;